body{
    font-family: sans-serif;
    box-sizing: border-box;
    background: #000;
}

input{
    color: rgb(250, 235, 215);
    display: block;
    width: 100%; 
    padding: 6px;
    margin: 9px  auto;   
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-top: 2px solid #47a;
    outline: none;
    transition:  background 0.6s;
    font-size: 20px;
}

input::placeholder{
    color: #47a;
    font-weight: 600;
}

input:hover::placeholder{
    color: #fff;
    transition: color 0.5s;
}

form{
    width: 85%;
    margin: auto;
    padding: 30px;
    background: #020;
}

input[type="submit"]{
    width: 70%;
    margin-top: 18px;
    padding: 9px;
    background: #47a;
    color: #ffe;
}

input[type="submit"]:hover{
    background: #36b;
}


input:hover{
    background: #27b;
}

h2{
    color: rgb(223, 206, 185);
    text-align: center;
    font-family: monospace;
    font-size: 35px;
}

.green{
    color: green;
}

.red{
    color: red;
}
